---
import '@fontsource-variable/arimo';
import styles from '../styles/NavBar.module.css';
---
<nav class={styles.navbar}>
  <a class={styles.logo} href="/">RL</a>
  <h2 class={styles.heading}>Creative Projects</h2>
  <div class={styles.linksection}>
    <a class={styles.link} href="/animation/">Animation</a>
    <a class={styles.link} href="/buildings/">Buildings</a>
    <a class={styles.link} href="/engineering/">Mechanical Engineering</a>
    <a class={styles.link} href="/photos/">Photography</a> 
  </div>
  <h2 class={styles.heading}>Information</h2>
  <div class={styles.linksection}>
    <a class={styles.link} href="/contact/">Contact</a>
    <a class={styles.link} href="/about-site/">About This Site</a>
  </div>
</nav>
