---
import '@fontsource-variable/plus-jakarta-sans';
import '@styles/global.css';
import NavBar from '@components/NavBar.astro';
import style from '@styles/ContentLayout.module.css';
import fs from 'node:fs';

interface Props {
  frontmatter: {
    title: string,
    alt: string,
    date: Date,
    length?: number,
    yt?: string
  }
}

const { frontmatter } = Astro.props;

let imgs: string[] = [];

if (fs.existsSync(`./public${Astro.url.pathname}`)) imgs = fs.readdirSync(`./public${Astro.url.pathname}`).sort((a, b) => Number(a.split('.avif')[0]) - Number(b.split('.avif')[0]));
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Renner Link's Portfolio Website." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>RL Animations - {frontmatter.title}</title>
	</head>
  <body>
    <NavBar />
    <main>
      <h1 class={style.title}>{frontmatter.title}</h1>
      { frontmatter.yt != null ? <iframe src={`https://www.youtube.com/embed/${frontmatter.yt}`} title={frontmatter.title} allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class={style.embed} /> : ''}
      <div class={style.md}>
        <slot />
        <div class={style.imgs}>
          {imgs.map(img => <img src={`${Astro.url.pathname}${img}`} />)}
        </div>
      </div>
    </main>
	</body>
</html>
